<h1>{{celebrity.name}}</h1>
<p><strong>Occupation:</strong> {{celebrity.occupation}}</p>
<p><strong>Catch Phrase:</strong> {{celebrity.catchPhrase}}</p>
<a href="/celebrities/edit/{{celebrity.id}}" class="btn btn-primary">Edit</a>
<a href="/celebrities">Back to Celebrities List</a>
